.cover{
  width: 100dvw;
  height: 100dvh;
  position: sticky;
  top: 0;
  left: 0;
  background: linear-gradient(0deg , rgb(20, 20, 20),rgb(50, 50, 50));
  z-index: -1;
}


.top-image {
  grid-area: 1/1/6/6;
background-position: center;
background-size: cover;
/*clip-path: path("M 0,30 A 30,30 0,0,1 30,0 L 270,0 A 30,30 0,0,1 300,30 L 300,150 A 30,30 0,0,1 270,180 L 180,180 A 30,30 0,0,0 150,210 L 150,270 A 30,30 0,0,1 120,300 L 30,300 A 30,30 0,0,1 0,270 Z");*/
clip-path: url(#image-cover);
}
  
  .slide {
    position: absolute;
    width: 99%;
    height: 95%;
    opacity: 0;
    background-size: cover;
    background-position: center;
    animation: fade 16s infinite;
  }

  .slide:nth-child(1) {
    background-image: url('/fp-fire.jpg');
    animation-delay: 0s;
  }

  .slide:nth-child(2) {
    background-image: url('/fp-trash.jpg');
    animation-delay: 4s;
  }

  .slide:nth-child(3) {
    background-image: url('/fp-building.jpg');
    animation-delay: 8s;
  }

  .slide:nth-child(4) {
    background-image: url('/fp-action.jpg');
    animation-delay: 12s;
  }

  @keyframes fade {
    0% { opacity: 0; }
    5% { opacity: 1; }
    25% { opacity: 1; }
    30% { opacity: 0; }
    100% { opacity: 0; }
  }


.title{
  grid-area: 4/3/6/6;
display: flex;
align-items: center;
justify-content: center;
text-align: center;
font-size: clamp(16px,3vw,3vw);
}
.top-section{
  scroll-snap-align: center;
  height: 93dvh;
  width: 98dvw;
  margin: auto;
  display: grid;
  margin-bottom: 3vh;
grid-template-columns: repeat(4, 1fr);
grid-template-rows: repeat(4, 1fr);
}
svg{
  width: 0;
  height: 0;
  margin: 0;
}
.definitie{
  width: 100dvw;
  height: 100dvh;
  scroll-snap-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5%;
    animation: aparition linear;
   animation-timeline: view();
  animation-range: entry 0% cover 40%;
  background: linear-gradient(0deg, rgb(12, 12, 12), rgba(255, 255, 255, 0) 100%);
}
.definitie h1{
  margin-top: 8%;
  font-size: clamp(20px,3.2rem,100px);
  position: relative;
}
.definitie h1::before{
  content: '';
  width: 8dvw;
  height: 1.5dvh;
  background-color:beige;
  position: absolute;
  top: 50%;
  right: 120%;
  border-radius: 100%;
}
.definitie h1::after{
  content: '';
  width: 8dvw;
  height: 1.5dvh;
  background-color:beige;
  position: absolute;
  top: 50%;
  left: 120%;
  border-radius: 100%;
}
.definitie p{
  width: 80dvw;
  font-size: clamp(20px,1.2vw,1.6vw);

 
}
@keyframes aparition {
  from{
    opacity: 0.5;
   scale: 0.5;
  }
  to{
    opacity: 1;
    scale: 1;
  }
}

.Cauze{
  width: 100dvw;
  height: 100dvh;
  scroll-snap-align: center;
  position: relative;
  display: flex;
  background-color:rgb(12, 12, 12) ;
}
.Carousel{
  display: flex;
  overflow-x: scroll;
  width: 500vw;
  scroll-snap-type:  x mandatory;
    scrollbar-width: none;
}
.slider{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 90dvw;
  scroll-snap-align: center;

}
.s1{
margin-left: 10vw;
}
.s5{
  margin-right: 10vw;
}
.subtitlu{
  font-size: clamp(20px,2.4dvw,2.5rem);
}
.explicatie{
  font-size: clamp(10px,1.7dvw,1.8rem);
  
}
.cauze-titlu{
  position: absolute;
  text-align: center;
  width: 20dvw;
  top: 8%;
  font-size: clamp(20px,3.2rem,100px);
  left: 40dvw;
}
.cauze-titlu::before{
  content: '';
  width: 8dvw;
  height: 1.5dvh;
  background-color:beige;
  position: absolute;
  top: 50%;
  right: 120%;
  border-radius: 100%;
}
.cauze-titlu::after{
  content: '';
  width: 8dvw;
  height: 1.5dvh;
  background-color:beige;
  position: absolute;
  top: 50%;
  left: 120%;
  border-radius: 100%;
}
.ind{
  position: absolute;
  top: 47%;
  width: 4vw;
  height: 4vw;
  background-image: url("/arrows.png");
  background-repeat: no-repeat;
  background-size: contain;
border-radius: 100px;
outline: none;
border: none;
background-color: rgba(0, 0, 0, 0);
}
.ind:hover{
  scale: 1.2;
}
.ind:active{
  scale: 1;
}
.ind-l{
  left: 2%;
}
.ind-r{
  right: 0;
  transform: rotate(180deg);
}
@media  screen and (max-width:600px) {
  .subtitlu{
    margin-top: 90%;
text-align: center;
    font-size: 28px;
    display: flex;
    align-items: center;
   
  }
  .explicatie{
    height: 50%;
    width: 60%;
    font-size: medium;
  }
  .cauze-titlu{
    left: 30%;
  }
  .cauze-titlu::after{
    display: none;
  }
  .cauze-titlu::before{
    display: none;
  }
}
.probleme-modalitati{
  scroll-snap-align: center;
  width: 100dvw;
  height: 100dvh;
  display: flex;
  justify-content: center;
  position: relative;
 background-color:rgb(12, 12, 12) ;
}
.obj-select{
  display: flex;
  justify-content: center;
  align-items: end;
  height: 20dvh;
  gap: 10%;
  width: 100%;
}

.select-button{
  background-color: rgba(240, 248, 255, 0);
color: beige;
height: 36%;
border: none;
font-size: clamp(20px,2rem,100px);
font-weight: bold;
position: relative;
overflow: none;
}
.select-button::after{
    content: '';
  position: absolute;
  top: 90%;
  left: 0;
  height: 6px;
  width: 0px;
  background-color: rgb(255, 255, 255);
  transition: all 0.5s ease;
}

.select-button:hover::after{
   content: '';
  position: absolute;
  top: 90%;
  left: 0;
  height: 6px;
  width: 100%;
  background-color: rgb(255, 255, 255);
}
.select-button:active::after{
  background-color: aqua;
}
.pm-container{
  top: 30%;
  position: absolute;
  width: 90%;
  height: 60%;
}
.selecter{
  width: 10px;
  height: 10px;
}
.content-probleme,
.content-modalitati{
  display: flex;
  height: 100%;
  justify-content:center;
  align-items: center;
  flex-wrap: wrap;
border-radius: 30px;
border: 2px solid beige;
}
.content-probleme p,
.content-modalitati p{
  width: 26vw;
  height: 45%;
  text-align: center;
  flex-shrink: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.exemple{
  width: 100dvw;
  height: 100dvh;
  scroll-snap-align: center;
position: relative;
    background:linear-gradient(180deg,rgb(12, 12, 12)10%,rgba(255, 255, 255, 0) )
}
.positioner{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.menu{
  width: 100dvw;
  height: 100dvh;
  position: absolute;
  z-index: 2;
  background-color:rgb(12, 12, 12);
  position: relative;
}
.menu button{
    font-size: 4dvw;
    color: beige;
    background-color: rgba(255, 255, 255, 0);
    border: none;
    font-weight: bold;
    width: 30dvw;
    transition: all 0.5s ease;
}
.menu button:hover{
  scale: 1.2;
}
.menu button:active{
  color: aqua;
}
.player{
  margin: auto;
width: 96dvw;
height: 92dvh;
border: 1px solid beige;
border-radius: 20px;
position: relative;
display: flex;
justify-content: end;
align-items: center;
}
.vselect{
  position: absolute;
  width: 2%;
  height: 34%;
border-radius: 20px 0px 0px 20px;
border-left: 1px solid beige;
border-bottom: 1px solid beige;
border-top: 1px solid beige;
transition: all 0.5s ease;
display: flex;
justify-content: center;
flex-direction: column;
flex-grow: 0;
flex-shrink: 0;
overflow-y: hidden;
padding: 1%;
scrollbar-width: none;
z-index: 2;
background-color: rgba(12, 12, 12, 0.551);
}
.vselect:hover{
  width: 10%;
}
.vsOption{
  width: 10vw;
  height: 22%;
  background-color: rgba(240, 248, 255, 0);
  display: flex;
  flex-shrink: 0;
  flex-grow: 0;
  justify-content: start;
  padding: 0;
  align-items: center;
  color: beige;
  font-weight: bold;
  font-size: clamp(10px,0.9vw,60px);
  border: none;
  transition:  all 0.5s ease;
}
.vsOption:hover{
  margin-left: 1vw;
}
.vsOption p{
  width: 70%;
  
}
.vsImg{
min-width: 2.2vw;
min-height: 2.2vw;
margin-right: 0.8vw;
}
.vsi1{
  background-image: url('/Cernobyl.svg');
  background-position: center;
  background-repeat: no-repeat;
}
.vsi2{
  background-image: url('/Bhopal.svg');
  background-position: center;
  background-repeat: no-repeat;
}
.vsi3{
  background-image: url('/Beirut.svg');
  background-position: center;
  background-repeat: no-repeat;
}
.vsi4{
  background-image: url('/BaiaMare.svg');
  background-position: center;
  background-repeat: no-repeat;
}
.video-container{
  width: 100%;
  height: 100%;
  border-radius:20px ;
    display: flex;
  justify-content: center;
  align-items: center;
}
#player{
  top: 4%;
  left: 2%;
position: absolute;
  margin: 0px;
  padding: 0px;
}
#vc-caption{
  font-size: 3vw;
  background-color: rgb(12, 12, 12);
  width: 100%;
  height: 100%;
  text-align: center;
  border-radius: 20px;
}
#vc-caption p{
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
  margin: 0;
}
.video{
  width: 100%;
  height: 100%;
}
.video-content{
  z-index: -2;
 display: flex;
 width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  margin: 0;
  border-radius: 19px;
  flex-direction: column;
}
.cCover{
  background-image: url('/cCover.jpg');
    background-position: center;
  background-repeat: no-repeat;
background-size: cover;
}

.bhCover{
  background-image: url('/bCover.jpg');
    background-position: center;
  background-repeat: no-repeat;
background-size: cover;
}

.beCover{
  background-image: url('/beCover.webp');
    background-position: center;
  background-repeat: no-repeat;
background-size: cover;
}

.bmCover{
  background-image: url('/bmCover.webp');
    background-position: center;
  background-repeat: no-repeat;
background-size: cover;
}
.vc-opacity{
 display: flex;
 width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  margin: 0;
  border-radius: 19px;
  flex-direction: column;
  background-color: rgba(12, 12, 12, 0.264);
}

.video-content p{
  margin-left: 10%;
  align-self: flex-start;
  max-width: 50%;
  position: relative;
}
.vc-title{
  font-size:clamp(18px,2vw,100px);
}
.video-play{
  position: absolute;
  display: flex;
  align-items: center;
  left: 70%;
  width: 30%;
  height: 100%;
}
.vp-button{
  min-width:8dvw;
  min-height:8dvw ;
  border: none;
  background-color: rgba(240, 248, 255, 0);
  background-image: url('/play.svg');
  background-position: center;
  background-repeat: no-repeat;
background-size: contain;
transition: all 0.5s ease;
}
.vp-button:hover{
  scale: 1.2;
}
.video-yt{
  width: 100%;
  height: 100%;
  border-radius: 19px;
  position: relative;
}
.description{
  width: 100%;
  height: 100%;
}
.video-css{
  border-radius: 19px;
}
.video-close{
  position: absolute;
  top: 3%;
  right: 3%;
  width: 5dvw;
  height: 5dvw ;
  background-color: rgba(240, 248, 255, 0);
  background-image: url('/close.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border: none;
  transition:all 0.5s ease;
}
.video-close:hover{
  scale: 1.2;
}
