body{
   background:linear-gradient(190deg , rgb(20, 20, 20),rgb(56, 56, 56)) ;
  color: beige;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: bold;
  margin: 0;
  padding: 0;
}
:root{
  overflow-x: hidden;
  scroll-snap-type:y mandatory;
    scroll-behavior: smooth;
}